################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdobeConnect/bin
/AdobeConnect/obj
/FaraPayamak/obj
/Payment/bin
/Payment/obj
/SenakLearn/bin
/SenakLearn/images/VideoFile/0045d7b8eb3e486f93b94985128e960d.mp4
/SenakLearn/images/VideoFile/1e1f7b63f68f4592b291e204faff5bc0.mp4
/SenakLearn/images/VideoFile/816410c0c9ec4b7da3a70c40b785cc62.mp3
/SenakLearn/images/VideoFile/99b2f6de1d844959bda8a0829f999323.mp4
/SenakLearn/images/VideoFile/be32f285ea3042299585922d1207f1f5.mp4
/SenakLearn/images/VideoFile/d504a27bc1614560bf0c661bd0e6c00d.mp3
/SenakLearn/images/VideoFile/e28979a31611497481d198f4c972ab14.mp3
/SenakLearn/obj
/SiteSetting/bin
/SiteSetting/obj
/Sms/bin
/Sms/obj
/Zarinpal/obj
/Survey/SiteSetting/obj
/Survey/New folder/SiteSetting/obj
/SenakLearnTests/obj
/Survey/Sms/obj
/BaseModel/obj
/adobe api/AdobeConnectService/AdobeConnectService/obj
/.vs/KishLearning/v17
/AdobeConnect/.vs
/.vs/SenakLearn/config/applicationhost.config
/.vs/SenakLearn/FileContentIndex/17cbfb60-0fef-4f2c-ba18-286812c4ea64.vsidx
/.vs/SenakLearn/FileContentIndex/466c2303-4f7f-4640-8043-c4916a1e2cfd.vsidx
/.vs/SenakLearn/FileContentIndex/516979a0-c712-4404-a618-23a8c0b779ad.vsidx
/.vs/SenakLearn/FileContentIndex/6a10cfa4-5c57-46ff-b770-690abe101d70.vsidx
/.vs/SenakLearn/FileContentIndex/dd6f9fbf-99fa-40b2-a7a0-e6c487caf65b.vsidx
/.vs/SenakLearn/v17/.suo
/.vs/SenakLearn/v17/DocumentLayout.backup.json
/.vs/SenakLearn/v17/DocumentLayout.json
*.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/FaraPayamak/.vs
/Payment/.vs
/SenakLearn/.vs
/SiteSetting/.vs/SiteSetting.csproj.dtbcache.json
/Sms/.vs/Sms.csproj.dtbcache.json
/.vs/SenakLearn/FileContentIndex
/.vs/SenakLearn/v17/fileList.bin
/.vs/SenakLearn/v17/HierarchyCache.v1.txt
/SenakLearn/Properties/PublishProfiles/FolderProfile1.pubxml.user
/SenakLearn/LogException.log
/.nuget
/BaseModel/.vs/BaseModel/v16/Server/sqlite3
/BaseModel/.vs/BaseModel/v16/.suo
/FaraPayamak/bin/Debug
/MVC.Controls/.vs/MVC.Controls/v15
/packages/Antlr.3.5.0.2
/packages/AutoMapper.7.0.1/lib
/packages
/SenakLearn/images/Adobe
/SenakLearn/images
