<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendSoap"/>
                <binding name="ReceiveSoap"/>
                <binding name="ContactsSoap"/>
                <binding name="ActionsSoap"/>
                <binding name="UsersSoap"/>
                <binding name="ScheduleSoap"/>
                <binding name="ScheduleSoap1"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="SendSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="ReceiveSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="ContactsSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="ActionsSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="UsersSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="ScheduleSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="ScheduleSoap121">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://api.payamak-panel.com/post/Send.asmx" binding="basicHttpBinding" bindingConfiguration="SendSoap" contract="SendSMS.SendSoap" name="SendSoap"/>
            <endpoint address="http://api.payamak-panel.com/post/Send.asmx" binding="customBinding" bindingConfiguration="SendSoap12" contract="SendSMS.SendSoap" name="SendSoap12"/>
            <endpoint address="http://api.payamak-panel.com/post/receive.asmx" binding="basicHttpBinding" bindingConfiguration="ReceiveSoap" contract="ReceiveSms.ReceiveSoap" name="ReceiveSoap"/>
            <endpoint address="http://api.payamak-panel.com/post/receive.asmx" binding="customBinding" bindingConfiguration="ReceiveSoap12" contract="ReceiveSms.ReceiveSoap" name="ReceiveSoap12"/>
            <endpoint address="http://api.payamak-panel.com/post/contacts.asmx" binding="basicHttpBinding" bindingConfiguration="ContactsSoap" contract="contactSms.ContactsSoap" name="ContactsSoap"/>
            <endpoint address="http://api.payamak-panel.com/post/contacts.asmx" binding="customBinding" bindingConfiguration="ContactsSoap12" contract="contactSms.ContactsSoap" name="ContactsSoap12"/>
            <endpoint address="http://api.payamak-panel.com/post/actions.asmx" binding="basicHttpBinding" bindingConfiguration="ActionsSoap" contract="ActionSms.ActionsSoap" name="ActionsSoap"/>
            <endpoint address="http://api.payamak-panel.com/post/actions.asmx" binding="customBinding" bindingConfiguration="ActionsSoap12" contract="ActionSms.ActionsSoap" name="ActionsSoap12"/>
            <endpoint address="http://api.payamak-panel.com/post/Users.asmx" binding="basicHttpBinding" bindingConfiguration="UsersSoap" contract="UserSms.UsersSoap" name="UsersSoap"/>
            <endpoint address="http://api.payamak-panel.com/post/Users.asmx" binding="customBinding" bindingConfiguration="UsersSoap12" contract="UserSms.UsersSoap" name="UsersSoap12"/>
            <endpoint address="http://api.payamak-panel.com/post/Schedule.asmx" binding="basicHttpBinding" bindingConfiguration="ScheduleSoap" contract="ScheduleSms.ScheduleSoap" name="ScheduleSoap"/>
            <endpoint address="http://api.payamak-panel.com/post/Schedule.asmx" binding="customBinding" bindingConfiguration="ScheduleSoap12" contract="ScheduleSms.ScheduleSoap" name="ScheduleSoap12"/>
            <endpoint address="http://api.payamak-panel.com/post/Schedule.asmx" binding="basicHttpBinding" bindingConfiguration="ScheduleSoap1" contract="VoiceSms.ScheduleSoap" name="ScheduleSoap1"/>
            <endpoint address="http://api.payamak-panel.com/post/Schedule.asmx" binding="customBinding" bindingConfiguration="ScheduleSoap121" contract="VoiceSms.ScheduleSoap" name="ScheduleSoap121"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
