<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace"
      internalLogFile="D:\Rezaei\Senak\Source\SenakLearn\App_Data\Logs\nlog-internal.log">

  <targets>
    <target xsi:type="File"
            name="appFile"
            fileName="D:\Rezaei\Senak\Source\SenakLearn\App_Data\Logs\app-${shortdate}.log"
            encoding="utf-8"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="appFile" />
  </rules>

</nlog>
